@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  transition: all 0.3s ease;
}
html.dark {
  background-color: #000000;
  color: white;
}

html.light {
  background-color: #ffffff;
  color: black;
}